.ai-image-generator{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 20px;
    gap: 30px;
    padding: 0 5vw;
    text-align: center;
    padding-bottom: 50px;
}

.header{
    font-size: 70px;
    font-weight: 500;
    padding-bottom: 30px;
}

.header span{
    color: #de1b89;
}

.img-loading{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.img-loading img{
    width: 100%;
    transition: all 0.5s ease;
}

.img-loading img:hover{
    filter: grayscale(10);
}

.img-loading .image{
    width: 512px;
    max-width: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.backdrop{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: #0009;
    /* backdrop-filter: blur(2px); */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: #fff;
    flex-direction: column;
    display: none;
}

.popup{
    position: fixed;
    background-color: #000c;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.popup .container{
    backdrop-filter: blur(10px);
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    text-align: center;
    background-color: #fff2;
    padding: 30px 20px;
    padding-bottom: 50px;
    border-radius: 20px;
    animation: come-in 1s ease forwards;
}

@keyframes come-in {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
}

.popup .container form{
    display: flex;
    width: 100%;
    background-color: #111;
    padding: 5px;
    border-radius: 50px;
    gap: 15px;
    margin-top: 30px;
}

.popup .container form button{
    color: #fff;
    height: 50px;
    font-size: 18px;
    font-weight: 600;
    background-color: #de1b89;
    border-radius: 50px;
    border: none;
    min-width: 150px;
    cursor: pointer;
}

.popup .container form input{
    width: 100%;
    background-color: transparent;
    border: none;
    color: #fff;
    outline: none;
    font-size: 20px;
    padding-left: 20px;
}

.popup .container form input::placeholder{
    color: #999;
}

.loading .backdrop{
    display: flex;
}

.change-key{
    position: fixed;
    right: 20px;
    top: 20px;
    font-size: 30px;
    color: #fff;
    background-color: transparent;
    width: 70px;
    height: 70px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease;
    z-index: 10;
    border-radius: 1000px;
}

.change-key:hover, &:focus{
    background-color: #fff2;
}

.backdrop.x{
    display: flex;
}

.backdrop p{
    width: 90%;
    max-width: 400px;
    word-wrap: break-word;
}

.backdrop svg{
    font-size: 50px;
}

.loading .img-loading img{
    filter: grayscale(10);
}

.spinner{
    width: 50px;
    height: 50px;
    border: 5px solid #fff;
    border-top: 5px solid #de1b89;
    border-radius: 1000px;
    animation: spin 0.5s linear forwards infinite;
}

@keyframes spin {
    0%{
        transform: rotate(-360deg);
    }
}

.search-box{
    display: flex;
    width: 1000px;
    max-width: 100%;
    height: 75px;
    align-items: center;
    border-radius: 50px;
    background-color: #1f3540;
    padding: 5px;
}

.search-input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    color: white;
    padding-left: 35px;
    margin-right: 20px;
}

.search-input::placeholder{
    color: #999;
}

.generate-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    min-width: 150px;
    height: 100%;
    font-size: 20px;
    border-radius: 50px;
    background-color: #de1b89;
    cursor: pointer;
}